* {
  /* font-family: 'Inter', sans-serif;
  font-family: 'Lobster', cursive;
  font-family: 'Share', cursive; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3F4A54;
  background-color: #657687;
}