* {
    font-family: 'Inter', sans-serif;
    /* font-family: 'Lobster', cursive; */
    /* font-family: 'Share', cursive; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #3f4a54;
    background-color: #657687;
}

.link-style {
    text-decoration: none;
    font-weight: bold;
    color: #f3f3f3;
}